<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Normalize CSS -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

   
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/Content/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/Content/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/Content/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/css/animate.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="/Content/css/datepicker.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/Content/css/select2.min.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/Content/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css-report-card.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

    <!-- Modernize js -->
    @*<link href="~/Content/AutoComplete.css" rel="stylesheet" />*@
    @*<link href="~/Content/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="/Content/img/logo-new.png" alt="logo">
                    </a>
                </div>
                <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
                <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">

                            </span>

                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <div class="admin-title">
                                <h5 class="item-title" id="userNameHead"></h5>
                                <span id="roleType"></span>
                            </div>
                            <div class="admin-img">
                                <img src="/Content/img/figure/admin.jpg" alt="Admin">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title" id="userName"></h6>
                            </div>
                            <div class="item-content">
                                <ul class="settings-list">
                                    <li><a href="#"><i class="flaticon-user"></i>My Profile</a></li>
                                    <li><a onclick="LogOut()" style="cursor: pointer;"><i class="flaticon-turn-off"></i>Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="loader" id="loaders" style="display:none"></div>

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->

            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
                <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo"> <a href="index.html"><img src="img/logo1.png" alt="logo"></a> </div>
                </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item">
                            <a href="/Teacher/index" id="TeacherDashboard" class="nav-link">
                                <i class="flaticon-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Teacher/studentview" id="StudentView" class="nav-link">
                                <i class="flaticon-classmates"></i><span>Students</span>
                            </a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="" class="nav-link" id="Att"><i class="flaticon-calendar"></i><span>Attendance</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item"> <a href="/Teacher/MarkAttendence" id="MarkeAtt" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Mark Attendance</a> </li>
                                <li class="nav-item"> <a href="/Teacher/ViewAttendence" id="ViewAtt" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>View Attendance</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="/Teacher/index" class="nav-link" id="HW"><i class="flaticon-books"></i><span>Homework</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item"> <a href="/Teacher/UploadHomework" id="UploadHW" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Upload Homework</a> </li>
                                <li class="nav-item"> <a href="/Teacher/ViewHomework" id="ViewHW" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>View Homework</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="" class="nav-link" id="Rslt"><i class="fa fa-upload"></i><span>Upload Result</span></a>
                            <ul class="nav sub-group-menu">
                                @*<li class="nav-item"> <a id="UploadHW" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Upload Homework</a> </li>*@
                                <li class="nav-item"> <a id="UploadRslts" href="/Result/ExportToExcel" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Download Excel Result</a> </li>
                                <li class="nav-item"> <a id="UploadRslts" href="/Result/UploadResult" class="nav-link" style="cursor: pointer;"><i class="fa fa-angle-right"></i>Upload Result</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ViewRslt" href="/Result/ViewResult"><i class="fa fa-search"></i><span>View Result</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one" id="dashboardContent">
                @RenderBody()
                <!-- Breadcubs Area Start Here -->
                <!-- Breadcubs Area End Here -->
                <!-- Student Attendence Area End Here -->
                <footer class="footer-wrap-layout1" style=" bottom: 1px;">
                    <div class="copyright">© Copyrights  PMAY</div>
                </footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <div class="modal"></div>
    <!-- Login Page End Here -->
    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <!-- Plugins js -->
    <script src="/Scripts/plugins.js"></script>
    <!-- Popper js -->
    <script src="/Scripts/popper.min.js"></script>
    <!-- Custom Js -->
    <script src="/Scripts/main.js"></script>

    <script src="~/Scripts/Product/Result.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script>
        function LogOut() {
            sessionStorage.clear()
            window.location.href = "/Login/Index";
        }
    </script>
</body>
</html>
